.section {
  background: linear-gradient(0deg, #e2e2e2, transparent);
}

.aboutMe {
  gap: 1.5rem;
  text-align: justify;
  max-width: 900px;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: #FFF;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.downloadButton {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 0.5rem;
}

// Media Query
@media screen and (min-width: 768px) {
  .textAboutMe {
    font-size: 1.25rem;
    padding: 2rem;
  }

  .image {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-height: 768px) {
  .textAboutMe {
    font-size: 1rem;
    padding: 1.5rem;
  }

  .image {
    width: 150px;
    height: 150px;
  }
}