.section {
  background: linear-gradient(0deg, #e2e2e2, transparent);
}

.textAboutMe {
  text-align: justify;
  max-width: 900px;
  font-size: 1rem;
  padding: 1.5rem;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #FFF;
}

.image {
  width: 150;
  height: 150;
  border-radius: 50%;
}

// Media Query
@media screen and (min-width: 768px) {
  .textAboutMe {
    font-size: 1.25rem;
    padding: 2rem;
  }

  .image {
    width: 200;
    height: 200;
  }
}

@media screen and (min-width: 992px) {
  .image {
    width: 250;
    height: 250;
  }
}