.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 6rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 768px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}


.link {
  border: 1px solid #000;
  padding: 1rem;
  gap: 1rem;

  p {
    margin-bottom: 0;
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: bold;
  }

  &:hover {
    border-color: #000;
    background-color: #ebebeb;
  }
}

.longDescription {
  text-align: justify;
}

.subtitle {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: bold;
}

.featuresItem {
  text-align: justify;
}

.demonstrationVideo {
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  margin-bottom: 2rem;
}

.videoWrapper {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}

.videoWrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 1.5rem;
  }
}

@media screen and (min-height: 750px) {
  .container {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .videoWrapper {
    max-width: 700px;
  }
}