.link {
  border: 1px solid #000;
  padding: 1rem;
  gap: 1rem;

  p {
    margin-bottom: 0;
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: bold;
  }

  &:hover {
    border-color: #000;
    background-color: #ebebeb;
  }
}

.subtitle {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 1.5rem;
  }
}