* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  
  h2 {
    font-family: 'Fugaz One';
    font-size: 1.75rem;
    color: #000;
  }
}


// Scroll
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 40px;
}

// Media Query 
@media screen and (min-width: 768px) {
  section {
    h2 {
      font-size: 2rem;
    }
  }
}